:root {
  --num-of-steps: 4;
}
html, body {
  max-width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.sign-up-container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  color: #000;
  overflow: hidden;
}
.steps-container {
  display: flex;
}
.step-container {
  width: 100dvw;
  height: 100dvh;
  transition: transform 500ms;
  transform: translateX(calc(-100dvw * (var(--page))));
}