.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}
.tabsContainer {
  width: 100%;
}
.tabs {
  display: flex;
  height: 100%;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
.tab {
  position: relative;
  color: #5f5f5f;
  width: 100%;
  max-width: 10em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab button {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  appearance: none;
  border: none;
  background: none;
}
.tab:not(:first-of-type)::before {
  content: '';
  position: absolute;
  left: 0;
  height: 50%;
  border: solid 1px rgb(172, 172, 172);
}
.tab:hover {
  color: #000;
}
.selectedTab {
  color: #000;
  border-bottom: solid 2px #000;
}
